{% include 'sitio/cabecera.html' %}
      <div class="p-5 bg-light">
            <div class="container">
                    <h1 class="display-3">¡Bienvenidos!</h1>
                    <p class="lead">Librería en línea</p>
                    <hr class="my-2">
                    <p class="lead">
                        <a class="btn btn-success btn-lg" type="button" href="/libros">Ver catálogo de libros</a>
                    </p>
            </div>
            
        </div>
{% include 'sitio/pie.html' %}
