{% include 'sitio/cabecera.html' %}


<div class="container">
    <div class="row">
        {%for libro in libros %}
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="/img/{{ libro[2] }}" alt="Title" style="width: 100%; height: 100%;">
                <div class="card-body">
                    <h4 class="card-title" style="font-family: Calibri, sans-serif; font-size: 14px; color: white;">{{ libro[1] }}</h4>
                    <p class="card-text">
                        <a name="" id=" "class="btn btn-success" href="{{ libro[3] }}" role="button">Descargar</a>
                        </p>
                </div>
            </div>
        </div>
        {% endfor %}   
    </div>
</div>



{% include 'sitio/pie.html' %}